@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


body{
    margin: 0;
    padding: 0;

}

ul{
    list-style: none;
    padding: 0; 
    margin: 0;
}

*{
    box-sizing: border-box;
}

nav{
    width: 100%;
    background: #2d2f48;
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
    position: fixed;
}

.logo{
    width: 300px;
    height: 100px;
    margin-left: -70px;
}

.logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navs{
    display: flex;
    align-items: center;
   
}

.nav-links{
    display: flex;
    align-items: center;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    margin-right: 40px;
    font-family: 'Open Sans', 'sans-serif'

}

.nav-links li{
    margin-right: 15px;
}

.cta{
    width: 157px;
    height: 52px;
    border-radius: 12px;
    background: white;
    color: #919a31;
    font-size: 16x;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: 'Open Sans', 'sans-serif'

}

.hero{
    background: #2d2f48;
    height: 100vh;
    max-height: 768px;
}

.dual-box{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 60px;
}

.dual-box.escape-padding{
    padding: 0;
}

.dual-box.escape-padding .section{
    margin-right: 0;
}

.section:first-child{
    margin-right: 30px;
}

.hero-content{
    /* padding: 0 80px; */
}

.hero-title{
    font-size: 40px;
    margin-bottom: 30px;
    color: white;
    font-family: 'Ubuntu', 'sans-serif';
}

.hero-title-medium{
    font-size: 20px;
    color: white;
    margin-bottom: 30px;
    font-family: 'Open Sans', 'sans-serif';
}

.hero-image{
    width: 597;
    height: 427;
}

.hero-image img{
    width: 100%;
    height: 100%;
}

.about{

}

.titled-box .title{
    font-size: 50px;
    font-family: 'Ubuntu', 'sans-serif';
}

.titled-box .content{
    font-size: 16px;
    margin-top: 60px;
    font-family: 'Open Sans', 'sans-serif';
}

.about-image{
    width: 550px;
    height: 190;
    margin-right: 50px;
    /* margin-left: 70px; */
}

.about-image img{
    width: 100%;
    height: 100%;
}

.current-event .section{
    flex: 1  0 50%;
    overflow: hidden;
    height: 100vh;
    max-height: 768px;

}

.event-box{
    width: 100%;
    background: #2d2f48;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10%;
}

.event-image{
    width: 100%;
    height: 100%;
}

.event-image  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.event-title{
    color: white;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-family: 'Roboto', 'sans-serif';
}

.event-description{
    color: white;
    font-size: 20px;
    margin-bottom: 30px;
    font-family: 'Open Sans', 'sans-serif';
}

.event-age{
    font-size: 20px;
    color: white;
    font-weight:600;
    margin-bottom: 30px;
    font-family: 'Open Sans', 'sans-serif';
}

.event-date{
    font-size: 12;
    padding: 5px;
    height: 33px;
    border-radius: 30px;
    background: #e1e1e1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', 'sans-serif';
}

.event-date-price{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    font-family: 'Open Sans', 'sans-serif';
}

.event-price{
    color: white;
    font-size: 25px;
    font-weight: 600px;
}

.center-child-horizontally{
    display: flex;
    justify-content: center;
}

.event-cta{
    width: 348px;
    height:73px;
    background: white; 
    color: #919a31;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 37px;;
    cursor: pointer;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Open Sans', 'sans-serif'

}

.upcoming-events{
    width: 100%;
    background: #0f0f0f;
    padding: 40px 20px;
}

.upcoming-events .title:first-child{
    font-size: 50px;
    color: white;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    font-family: 'Ubuntu', 'sans-serif';
}

.event-grid{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.event-item{
    width: 400px;
    margin-right: 30px;
    margin-bottom: 30px;
    cursor: pointer;
}

.event-item .event-thumbnail{
    width: 400px;
    height: 400px;
    margin-bottom: 20px;
}

.event-item .event-thumbnail img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.event-item .title{
    color: white;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
    font-family: 'Open Sans', 'sans-serif'
}

.event-item .description{
    color: white;
    font-size: 16px;
    margin-bottom: 30px;
    max-width: 100%; 
    font-family: 'Open Sans', 'sans-serif'

}

.event-item .date{
    font-size: 16px;
    display: flex;
    background: #cccccc;
    width: fit-content;
    border-radius: 22px;
    padding: 5px 10px;
    font-family: 'Open Sans', 'sans-serif'

}

.sponsors{
    background: hsla(217, 58, 31, 4);
    padding: 40px 20px;
}

.sponsors .title{
    font-size: 40px;
    margin-bottom: 60px;
    display: flex;
    width: 100%;
    justify-content: center;
    font-family: 'Open Sans', 'sans-serif'

}


.sponsor-grid{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.sponsor{
    width: 150px;
    margin-right: 70px;
    margin-bottom: 70px;
}

.sponsor .sponsor-logo{
    width: 100%;
    height: auto;
}

.sponsor .sponsor-logo img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background: #2d2f48;
    padding: 10px 0px;
    font-family: 'Open Sans', 'sans-serif'

}

footer .socials{
    display: flex;
}

footer .title{
    margin-bottom: 10px;
}

footer .socials{
    margin-bottom: 10px;
}

footer .socials .social{
    margin-right: 10px;
    cursor: pointer;
}

footer .contact{
    display: flex;
}

footer .contact .phone{
    margin-right: 15px;

}