<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "css/style.css" />
    <link rel = "stylesheet" href = "css/mobile.css" />
    <link rel = "icon" href = "images/logo.png" />
    <title>Cato Tournament</title>
</head>
<body>
    <nav>
        <div class="logo">
            <img src="images/logo.png" alt="">
        </div>

        <div class="navs">
            <ul class="nav-links">
                <li>About</li>
                <li>Events</li>
                <li>Gallery</li>
            </ul>

            <div class="cta">
                    enroll now
            </div>
        </div>


    </nav>

    <section class="hero">
        <div class="dual-box">
            <div class="section">
                <div class="hero-content">
                    <div class="hero-title">
                        Are you talented and smart?
                        <br />
                        Do you have what it takes to become a champion?
                    </div>

                    <div class="hero-title-medium">
                        We organize and host series of competitions for youths who are not afraid of a challenge
                    </div>

                    <div class="cta">
                        Enroll now
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="hero-image">
                    <img src="images/children.png" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="about">
        <div class="dual-box">
            <div class="section">
                <div class="">
                    <div class="about-image">
                        <img src="images/children-soccer.png" alt="">
                    </div>
                </div>
            </div>

            <div class="section">   
                <div class="titled-box">
                    <div class="title">
                        About Catotournament
                    </div>

                    <div class="content">
                        At Cato Tournament, we strive to "catch them young" and groom them for success through the fun and discipline of games and sports.
                        <br />
                        The Cato Torunament consists of multiple matches focused of discovering talented, and goal-driven youths. Each competition includes age appropriate strategies and brackets to ensure fair and concese selection.
                        <p>
                            Registration, regulations and sign-ups are easy to view on our website and social media platforms. Aspiring participants can view and select from multiple competitions, including (but not limited to) football, chess and spelling bees.

                            
                        </p>

                        <p>
                            Each competition has prizes for the first, second and third place that include cash scholarships, and travel as well as consolation prizes. Opening and closing ceremonies will be conducted for each game. All tournaments will be conducted utilizing age brackets and is open to participants from 6- 16 years of age.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="current-event">
        <div class="dual-box escape-padding">
            <div class="section">
                <div class="event-box">
                    <div class="event-title">
                        UPCOMING EVENT: CATO SPELLING BEE
                    </div>

                    <div class="event-description">
                        Every child will be give the opportunity to spell one or two things they've been taught in school.
                    </div>

                    <div class="event-age">
                        Ages: 6 - 15
                    </div>

                    <div class="event-date-price">
                        <div class="event-date">
                            20 August, 2021
                        </div>

                        <div class="event-price">
                            Entry Fee: $5000
                        </div>
                    </div>

                    <div class="center-child-horizontally">
                        <div class="event-cta">
                            Enroll Now
                        </div>
                    </div>
                </div>
            </div>

            <div class="section">
                <div class="event-image">
                    <img src="images/spelling-bee.png" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="upcoming-events">
        <div class="title">
            Stay Tuned For These Events
        </div>

        <div class="event-grid">
            <div class="event-item">
                <div class="event-thumbnail">
                    <img src="images/soccer.jpg" alt="">
                </div>

                <div class="title">
                    Cato soccer tournament
                </div>

                <div class="description">
                    Children will play soccer until their eyes explode. As long as your child is talented, bring him/her to show their talent.
                </div>

                <div class="date">
                    26 July, 2022
                </div>
            </div>
            <div class="event-item">
                <div class="event-thumbnail">
                    <img src="images/soccer.jpg" alt="">
                </div>

                <div class="title">
                    Cato soccer tournament
                </div>

                <div class="description">
                    Children will play soccer until their eyes explode. As long as your child is talented, bring him/her to show their talent.
                </div>

                <div class="date">
                    26 July, 2022
                </div>
            </div>
            <div class="event-item">
                <div class="event-thumbnail">
                    <img src="images/soccer.jpg" alt="">
                </div>

                <div class="title">
                    Cato soccer tournament
                </div>

                <div class="description">
                    Children will play soccer until their eyes explode. As long as your child is talented, bring him/her to show their talent.
                </div>

                <div class="date">
                    26 July, 2022
                </div>
            </div>
            <div class="event-item">
                <div class="event-thumbnail">
                    <img src="images/soccer.jpg" alt="">
                </div>

                <div class="title">
                    Cato soccer tournament
                </div>

                <div class="description">
                    Children will play soccer until their eyes explode. As long as your child is talented, bring him/her to show their talent.
                </div>

                <div class="date">
                    26 July, 2022
                </div>
            </div>
            <div class="event-item">
                <div class="event-thumbnail">
                    <img src="images/soccer.jpg" alt="">
                </div>

                <div class="title">
                    Cato soccer tournament
                </div>

                <div class="description">
                    Children will play soccer until their eyes explode. As long as your child is talented, bring him/her to show their talent.
                </div>

                <div class="date">
                    26 July, 2022
                </div>
            </div>
            <div class="event-item">
                <div class="event-thumbnail">
                    <img src="images/soccer.jpg" alt="">
                </div>

                <div class="title">
                    Cato soccer tournament
                </div>

                <div class="description">
                    Children will play soccer until their eyes explode. As long as your child is talented, bring him/her to show their talent.
                </div>

                <div class="date">
                    26 July, 2022
                </div>
            </div>
        </div>
    </section>

    <section class="sponsors">
        <div class="title">
            Catotournament is Proudly Sponsored by
        </div>

        <div class="sponsor-grid">
            <div class="sponsor">
                <div class="sponsor-logo">
                    <img src="images/netflix.png" alt="">
                </div>
            </div>
            <div class="sponsor">
                <div class="sponsor-logo">
                    <img src="images/nestle.png" alt="">
                </div>
            </div>
            <div class="sponsor">
                <div class="sponsor-logo">
                    <img src="images/always.png" alt="">
                </div>
            </div>
            <div class="sponsor">
                <div class="sponsor-logo">
                    <img src="images/cadbury.png" alt="">
                </div>
            </div>
            <div class="sponsor">
                <div class="sponsor-logo">
                    <img src="images/maggi..png" alt="">
                </div>
            </div>
            <div class="sponsor">
                <div class="sponsor-logo">
                    <img src="images/mtn.png" alt="">
                </div>
            </div>
            <div class="sponsor">
                <div class="sponsor-logo">
                    <img src="images/airtel.png" alt="">
                </div>
            </div>
            <div class="sponsor">
                <div class="sponsor-logo">
                    <img src="images/zenith-bank.png" alt="">
                </div>
            </div>
            <div class="sponsor">
                <div class="sponsor-logo">
                    <img src="images/glo.png" alt="">
                </div>
            </div>
            <div class="sponsor">
                <div class="sponsor-logo">
                    <img src="images/gtbank.png" alt="">
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="title">
                catotournament.com 2021
        </div>

        <div class="socials">
            <div class="social">
                <i class="fab fa-twitter"></i>
            </div>
            <div class="social">
                <i class="fab fa-instagram"></i>
            </div>
            <div class="social">
                <i class="fab fa-facebook"></i>
            </div>
        </div>

        <div class="contact">
            <div class="phone">
                +2349060985961
            </div>

            <div class="email">
                catotournament@gmail.com
            </div>
        </div>
    </footer>

    <script src = "js/1318.js"></script>

</body>
</html>