.primary-bg{
    background: $primary-bg;
}
.secondary-bg{
    background: $secondary-bg
}
.secondary-text-2{
    color: $secondary-bg2;
}
.container{
    padding: 20px 5%;
    width: 100%;
}

.full-height{
    min-height: 100vh;
}

.full-width{
    width: 100%;
}

.f4{
    font-size: 20px;
}
.f5{
    font-size: 25px;
}
.f8{
    font-size: 40px;
}

.primary-text{
    color: $primary-bg;
}

.tertiary-text{
    color: #f1f1e6;
}

.white-text{
    color: white;
}

.form-box   {
    margin-top: 50px;
}

.form-group{
    display:flex;
    flex-direction: column;
    gap: 30px;

    .form-element{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        .fe-stack{
            flex: 1 1 300px;
            display: flex;
            flex-direction: column;

        }

        label{
            margin-bottom: 5px;
        }

        [type=text]{
            height: 45px;
            border: none;
            outline: none;
            font-size: 20px;
            padding: 10px 15px;
        }
    }
}

.mt-10{
    margin-top: 50px;
}

.btn{
    border: none;
}

.align-end{
    align-items: flex-end
}

.cursor-pointer{
    cursor: pointer;
}

.space-between{
    justify-content: space-between;
}

.btn-medium{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
}

.no-decoration{
    text-decoration: none;
}


.br-2{
    border-radius: 10px;
}

@for $width from 1 through 100{
    .w-#{$width}{
        width: ($width) * 1%;
    }

    .f#{$width}{
        font-size: ($width) * 1px; 
    }

    @for $size from 1 through 100{
        .f#{$width}-m#{$size}{
            font-size: $width * 1px;
        }

        @media (max-width: 480px){
            .f#{$width}-m#{$size}{
                font-size: $size * 1px;
            }
        }
    }

    .mb-#{$width}{
        margin-bottom: ($width) * 5px;
    }

    .mt-#{$width}{
        margin-top: ($width) * 5px;
    }

    .pd-#{$width}{
        padding: ($width) * 5px
    }

    .pl-#{$width}{
        padding-left: ($width) * 5px
    }

    .pr-#{$width}{
        padding-right: ($width) * 5px
    }

    .pt-#{$width}{
        padding-top: ($width) * 5px
    }

    .pb-#{$width}{
        padding-bottom: ($width) * 5px
    }

    .mg-#{$width}{
        margin: ($width) * 5px
    }

    .mr-#{$width}{
        margin-right: ($width) * 5px
    }

    .ml-#{$width}{
        margin-left: ($width) * 5px
    }
    .g-#{$width}{
        gap: ($width) * 5px;
    }
}




.flex{
    display: flex;
}
.wrap{
    flex-wrap: wrap;
}
.flex-column{
    display: flex;
    flex-direction: column
}
.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}
.text-align-center{
    text-align: center;
}

.fit-content{
    width: fit-content;
}

.raleway{
    font-family: 'Raleway', 'sans-serif'
}

.bold{
    font-weight: bold;
}

.sentence-case{
    text-transform:capitalize !important;
}
