$sponsors-gap: 70px;
$event-grid-gap: 30px;
$primary-bg: #2d2f48;
$secondary-bg: #edeeff;
$secondary-bg2: #fff7d6;
$secondary-bg3: #847555;
$secondary-bg4: #cfa716;
$shadow-gradiented-background: linear-gradient(
    180deg
    ,rgba(0,0,0,.8) 0,transparent)

