@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import './variables';
@import './general';

body{
    margin: 0;
    padding: 0;

}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

*{
    box-sizing: border-box;
}

nav{
    width: 100%;
    // background: #2d2f48;
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
    position: fixed;
    z-index: 9999;
    transition: .5s ease-in-out;
}

.logo{
    width: 300px;
    height: 100px;
    margin-left: -70px;
    transition: .5s ease-in-out;
}

.logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s ease-in-out;
}

.navs{
    display: flex;
    align-items: center;

}

.nav-links{
    display: flex;
    align-items: center;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    margin-right: 40px;
    font-family: 'Open Sans', 'sans-serif'

}

.nav-links li{
    margin-right: 15px;
}

.navbar-mini{
    height: 50px;
    background: $primary-bg;
    .logo{
        width: 150px;
        height: 50px;
    }
}

.cta{
    width: 220px;
    height: 52px;
    background: $secondary-bg2;
    color: $primary-bg;
    font-size: 16x;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: 'Open Sans', 'sans-serif'

}

.hero{
    height: 100vh;
    min-height: 768px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    position: relative;
}

.image-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; 
    z-index: 10;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
  
    
}

.image-overlay::before{
    display: block;
    content: "";
    background: #000000db;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}

.dual-box{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 60px;
}

.dual-box.escape-padding{
    padding: 0;
}

.dual-box.escape-padding .section{
    margin-right: 0;
}

.section:first-child{
    margin-right: 30px;
}

.hero-info{
    z-index: 12;
}

.hero-title{
    font-size: 40px;
    margin-bottom: 30px;
    color: white;
    font-family: 'Ubuntu', 'sans-serif';
}

.hero-title-medium{
    font-size: 20px;
    color: white;
    margin-bottom: 30px;
    font-family: 'Open Sans', 'sans-serif';
}

.hero-image{
    width: 597;
    height: 427;
}

.hero-image img{
    width: 100%;
    height: 100%;
}

.about{

}

.titled-box .title{
    font-size: 50px;
    font-family: 'Ubuntu', 'sans-serif';
}

.titled-box .content{
    font-size: 16px;
    margin-top: 60px;
    font-family: 'Open Sans', 'sans-serif';
}

.about-image{
    width: 550px;
    height: 190;
    margin-right: 50px;
    /* margin-left: 70px; */
}

.about-image img{
    width: 100%;
    height: 100%;
}

.current-event{
    background: $secondary-bg2;
    padding: 40px 0px;
}

.current-event .section{
    flex: 1  0 50%;
    overflow: hidden;
    // height: 100vh;
    // max-height: 768px;

}

.event-box{
    width: 100%;
    // background: #2d2f48;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10%;
}

.event-image{
    width: 100%;
    height: 100%;
}

.event-image  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.event-title{
    color: $secondary-bg3;
    font-size: 45px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-family: 'Raleway', 'sans-serif';
    display: flex;
    flex-direction:column;
}

.event-description{
    color: $primary-bg;
    font-size: 20px;
    margin-bottom: 30px;
    font-family: 'Open Sans', 'sans-serif';
}

.event-age{
    font-size: 20px;
    color: $primary-bg;
    font-weight:600;
    margin-bottom: 30px;
    font-family: 'Open Sans', 'sans-serif';
}

.event-date{
    font-size: 12;
    padding: 5px;
    height: 33px;
    border-radius: 30px;
    background: #e1e1e1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', 'sans-serif';
}

.event-date-price{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    font-family: 'Open Sans', 'sans-serif';
    flex-wrap: wrap;
}

.event-price{
    color: white;
    font-size: 25px;
    font-weight: 600px;
}

.center-child-horizontally{
    display: flex;
    justify-content: center;
}

.event-cta{
    width: 348px;
    height:73px;
    background: $primary-bg;
    color: $secondary-bg2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 37px;;
    cursor: pointer;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Open Sans', 'sans-serif';
    outline: none;

}

.event-cta:active{
    background: $primary-bg
}

.upcoming-events{
    width: 100%;
    background: #0f0f0f;
    padding: 40px 20px;
}

.upcoming-events .title:first-child{
    font-size: 50px;
    color: white;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    font-family: 'Ubuntu', 'sans-serif';
}

.event-grid{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: $event-grid-gap

}

.event-item{
    width: 400px;
    margin-bottom: $event-grid-gap;
    cursor: pointer;
}

.event-item .event-thumbnail{
    width: 400px;
    height: 400px;
    margin-bottom: 20px;
}

.event-item .event-thumbnail img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.event-item .title{
    color: white;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
    font-family: 'Open Sans', 'sans-serif'
}

.event-item .description{
    color: white;
    font-size: 16px;
    margin-bottom: 30px;
    max-width: 100%;
    font-family: 'Open Sans', 'sans-serif'

}

.event-item .date{
    font-size: 16px;
    display: flex;
    background: #cccccc;
    width: fit-content;
    border-radius: 22px;
    padding: 5px 10px;
    font-family: 'Open Sans', 'sans-serif'

}

.sponsors{
    background: $secondary-bg;
    padding: 40px 20px;
}

.sponsors .title{
    font-size: 40px;
    margin-bottom: 60px;
    display: flex;
    width: 100%;
    justify-content: center;
    font-family: 'Open Sans', 'sans-serif'

}


.sponsor-grid{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: $sponsors-gap;
}

.sponsor{
    width: 150px;
    // margin-right: 70px;
    margin-bottom:$sponsors-gap;
}

.sponsor .sponsor-logo{
    width: 100%;
    height: auto;
}

.sponsor .sponsor-logo img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background: #2d2f48;
    padding: 10px 0px;
    font-family: 'Open Sans', 'sans-serif'

}

footer .socials{
    display: flex;
}

footer .title{
    margin-bottom: 10px;
}

footer .socials{
    margin-bottom: 10px;
}

footer .socials .social{
    margin-right: 10px;
    cursor: pointer;
}

footer .contact{
    display: flex;
}

footer .contact .phone{
    margin-right: 15px;

}



.info-box{
    width: 100%;
    margin-bottom: 30px;
    .title{
        font-size: 20px;
        color: $primary-bg;
        margin-bottom: 10px;
        text-transform: uppercase;
        width: fit-content;
        padding-bottom: 10px;
        border-bottom: 1px solid $primary-bg
    }

    .info-body{
        color: $primary-bg;
    }
}

.enumeration-list{
    padding: 0;
    margin: 0;

    li{
        display: flex;
        gap: 10px;
        margin-bottom: 10px;
        font-size: 17px;
        span{
            width: 25px;
            height: 25px;
            border-radius: 50%;;
            background: white;
            flex: 0 0 auto;
            color: #2d2f48;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 17px;

        }
    }
}

.file-download-indicator{
    display: flex;
    max-width: 100%;
    width: fit-content;
    box-sizing: border-box;
    gap: 10px;
    height: 60px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid $primary-bg;

    *{
        box-sizing: border-box;
    }

    .icon, .download-icon{
        height: 100%;
        background: $primary-bg;
        padding: 10px 15px;;
        font-size: 20px;
        display:flex;
        color: $secondary-bg2;
        align-items: center;
        justify-content: center;
        flex: 0 0 auto;
    }

    .download-icon{
        cursor: pointer;
    }

    .file-name{
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1 1 auto;
        padding: 10px;
    }
}
.mt-2{
    margin-top: 10px;
}
.mt-3{
    margin-top: 15px;
}
.mt-4{
    margin-top: 20px;
}
.mb-2{
    margin-bottom: 10px;
}




@import './mobile'
